<!DOCTYPE html>
<html>
  
<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
    </style>
</head>
<body>
  <div class="rectangle"></div>
  <div class="pic"><img src="{{profile}}" alt="Profile"></div>

  <br><h2>Aizel Marie L. Escoto</h2>
  <h4>Web Developer | UI/UX Designer</h4><br><br>
  <div class="a" style="text-align: center; color: black; font-size: 18px; font-weight: 500;"> I’m an aspiring Web Developer, and UI/UX Designer from Angeles City Pampanga, Philippines.<br>
     I am enthusiastic about the spectrum of frontend development and user experience, as well as collaborating on projects with good individuals.
    </div> <br><br>

    <div class="title"><h5>Personal Information</h5></div><br>
    <div class="about">
    <b style="color: #5B84B1FF;">Name:</b> Aizel Marie L. Escoto <br>
    <b style="color: #5B84B1FF;">Gender:</b> Female <br>
    <b style="color: #5B84B1FF;">Age:</b> 20 <br>
    <b style="color: #5B84B1FF;">Date of Birth:</b> June 13, 2001 <br></div>
    <div class="about2"><b style="color: #5B84B1FF;">Place of Birth:</b> Angeles City <br>
      <b style="color: #5B84B1FF;">Civil Status:</b> Single <br>
      <b style="color: #5B84B1FF;">Religion:</b> Roman Catholic <br>
      <b style="color: #5B84B1FF;">Language/Dialect Spoken:</b> Filipino, English <br></div>
      <div class="rectangle2"></div>
</body>
</html>
  
  