<html>
   <head>
      <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
        </style>
    </head>
   <body>
      <br><div class="title"><h5 style="color: rgb(0, 0, 0);">Educational Background</h5></div><br><br>
      <div class="educ">
         <table>
            <tr>
               <td>
                  <ul>
                     <b style="color: #5B84B1FF;">Elementary</b>
                  </ul>
                  <ul>
                     <li>M. Nepomuceno Elementary School</li>
                     <li>2007-2013</li>
                  </ul>
               </td>
               <td>
                  <ul><b style="color: #5B84B1FF;">Secondary (Senior High School)</b></ul>
            <ul>
               <li>Technical Vocational Livelihood</li>
               <li>Angeles City National Trade School</li>
               <li>2017-2019</li>
            </ul>
            <ul>
               <b style="color: #5B84B1FF;">Secondary (Junior High School)</b>
            </ul>
            <ul>
               <li>Angeles City National Trade School</li>
               <li>2013-2017</li>
            </ul>
               </td>
               <td> 
                  <ul><b style="color: #5B84B1FF;">Tertiary (A.Y. 2019 - Present)</b></ul>
                  <ul>
                     <li>Bachelor of Science in Web Development</li>
                     <li>Holy Angel University</li>
                     <li>3rd Year College at present </li>
                  </ul>
               </td>
            </tr>
         </table><br>
      </div>
      <br><div class="title"><h5 style="color: rgb(0, 0, 0);">Technical Skills</h5></div><br><br> 
      <div class="tech">
         <table>
            <tr>
               <td ><img style="margin-left: 20px;" src="{{html}}" alt="HTML" width="150" ><h6>HTML</h6></td>
                <td ><img style="margin-left: 20px;" src="{{js}}" alt="Javascript" width="150" ><h6>JavaScript</h6></td>
                <td ><img style="margin-left: 20px;" src="{{css}}" alt="CSS" width="150" ><h6>CSS</h6></td>
                <td ><img style="margin-left: 20px;" src="{{php}}" alt="PHP" width="150" height="150"><h6>PHP</h6></td>
                <td ><img style="margin-left: 20px;" src="{{mongodb}}" alt="MongoDB" width="150" height="150"><h6>MongoDB</h6></td>
              </tr>
            <tr>
                <td><img style="margin-left: 20px; margin-top: 20px;" src="{{java}}" alt="Java" width="150" height="150" ><h6>Java</h6></td>
                <td><img style="margin-left: 20px; margin-top: 20px;" src="{{python}}" alt="Python" width="150" height="150"><h6>Python</h6></td>
                <td><img style="margin-left: 20px; margin-top: 20px;" src="{{adobe}}" alt="AdobeXD"  width="150" height="150" ><h6>AdobeXD</h6></td>
                <td><img style="margin-left: 20px; margin-top: 20px;" src="{{ppt}}" alt="PowerPoint" width="150" height="150" ><h6>PowerPoint</h6></td>
                <td><img style="margin-left: 20px; margin-top: 20px;" src="{{canva}}" alt="Canva" width="150" height="150" ><h6>Canva</h6></td>
            </tr>
        </table>
      </div>
      <div class="rectangle"></div>
</body>
</html>
