<html>
    <head>
       <style>
         @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
         </style>
     </head>
    <body>
        <br>
        <br><div class="title"><h5 style="color: rgb(0, 0, 0);">My Recent Works</h5></div><br><br>  
        <div class="tb">
            <table>
                <tr>
                    <td><img src="{{mrbeast}}" alt="Mr Beast"></td>
                        <td><p class="text">MRBEAST website was built in October 2020 as a class project for one of our major subjects, Web Technologies. We were given the assignment of creating or recreating a clothing store of our choice. 
                            <br> The purpose of this project was to demonstrate various HTML and CSS elements.</p><h6>Oct 2020 | UI/UX Designer</h6></td>
                <tr>
                    <td><img src="{{haulib}}" alt="HAU Library"></td> <td><p>HAU Library Database was our final project last February 2021 in WEBTOOLS subject. We created a CRUD for each table to show a way how to add, show, update, and delete data which are necessary to implement a persistent storage application.</p><h6>Feb 2021 | Developer</h6></td>
                </tr>
                <tr>
                    <td><img src="{{startup}}" alt="Start Up"></td> <td><p>Start Up is a mock-up website designed in May 2021 as part of our Webserver and Client Services subject's final project. Its objective is to demonstrate our abilities as future web developers in catering clients and delivering user experiences that would satisfy their expectations.</p><h6>May 2021 | Content Creator</h6></td>
                </tr>
                <tr>
                    <td><img src="{{lacalle}}" alt="La Calle Cafe"></td> <td><p>On October 2021, the La Calle Café website was launched. La Calle Café is a specialty coffee store for coffee lovers. This website is intended to aid customers in learning about La Calle Café's background, and the types of food and beverages they offer. Additionally, this website was created to host content that would educate visitors about various coffee-related articles.</p><h6>Oct 2021 | Content Creator</h6></td>
                </tr>
                <tr>
                    <td><img src="{{restodb}}" alt="Restaurant DB"></td> <td><p>Restaurant Database was a school project in ADVDBASE made in November 2021. This project is for the use of the Mongodb Database where we store our data. </p><h6>Nov 2021 | Developer</h6></td>
                </tr>
            </table>
        </div>
        <div class="rectangle"></div>
 </body>
 </html>
 